body {
  margin: 4rem 0;
  background-image: url("../images/memphis-colorful.png");
}

/* Custom IDs */
#gameBanner {
  font-family: "Leckerli One", cursive;
  font-size: 36px;
  text-align: center;
}

#help {
  color: #627594;
}

/* Custom classes */
.jumbotron {
  background-color: #e3e8de;
}

.gemImage {
  padding: 2px;
  height: 100px;
  width: 100px;
}
/* panel styles */
.panel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #627594;
}

.panel-images {
  margin: 10px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.panel-container {
  background-color: #e3e8de;
  border: 1px solid #d0d8d7;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  /* opacity: 0.6; */
}

.panel-instructions {
  background-color: #f5f5e7;
  /* opacity: 0.6; */
}

.panel-randomNum {
  background-color: #b5ccd1;
  text-align: center;
}

.panel-totalScore {
  background-color: #b5b3ba;
  text-align: center;
}

.panel-scoreTracker {
  background-color: #b5ccd1;
  text-align: center;
}
